@page
@model ScriptureJournalAlexNielson.Pages.Scriptures.IndexModel
@using WebMatrix.Data;
@using System.Web.Helpers;
@using System.Web;
@using System.Web.HtmlString;

@{
    ViewData["Title"] = "Index";
    var db = Database.Open("ScriptureJournal");
    var selectedData = db.Query("SELECT * FROM ScriptureJournal");
    var grid = new WebGrid(source: selectedData);
}

<h2>Index</h2>

<h1>Scriptures</h1>
<div>
    @grid.GetHtml();
</div>
